body {
  background: #FFF8FB;
}

header, div {
  text-align:center;
}

header {
  position: absolute;
  font-size:150px;
  font-family: kepler-std-condensed-subhead, serif;
  font-weight: 400;
  color: #0A014F;
  top: 20%;
  left: 50%;
}

.description{
  width: 475px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  position:absolute;
  left: 50%;
  top: 40%;
  font-size:30px;
  color: #0A014F;
  margin-right: 10%;
  text-align: left;
}

iframe {
  position: absolute;
  /*display:block;*/
  margin-top: 20px;
  margin-left: 200px;
  width:375px;
  height:667px;
  background-color: #0A014F;
  border: 3px solid #FFF8FB;
  top: 6%;
  left: -47.5%;
  overflow:hidden;
}


      .iphonecontainer1{
        position: absolute;
       
        border: 3px solid #FFF8FB;
        background-color: #0A014F;
        width: 400px;
        height: 830px;
        top: 4%;
        left: 10%;
        border-radius: 45px;
      }


      .circle{
        position: absolute;
        background-color: transparent;
        border: 3px solid #FFF8FB;
        width: 60px;
        height: 60px;
        top: 90.5%;
        left: 42%;
        border-radius: 180px;
        z-index: 1000;
      }



    

      section{
        display: inline-block;
      }
      
      div{
        scroll-snap-align: center;
      }









      @media (max-width: 1107px) {

          

          .iphonecontainer1{
            left: 5%;
            transform: scale(.75);
          }


      }


      @media (max-width: 950px) {

          

          .iphonecontainer1{
            left: 3%;
          }

          header {
            position: absolute;
            font-size:125px;
            font-family: kepler-std-condensed-subhead, serif;
            font-weight: 400;
            color: #0A014F;
            top: 20%;
            left: 50%;
          }

          .description{
            width: 400px;
            font-family: aktiv-grotesk, sans-serif;
            font-weight: 300;
            font-style: normal;
            position:absolute;
            left: 50%;
            top: 40%;
            font-size:20px;
            color: #0A014F;
            margin-right: 10%;
            text-align: left;
          }


      }


    @media (max-width: 800px) {

          

          .iphonecontainer1{
            left: 5%;
            transform: scale(.5);
          }

          header {
            position: absolute;
            font-size:125px;
            font-family: kepler-std-condensed-subhead, serif;
            font-weight: 400;
            color: #0A014F;
            top: 10%;
            left: 25%;
          }

          .description{
            width: 300px;
            font-family: aktiv-grotesk, sans-serif;
            font-weight: 300;
            font-style: normal;
            position:absolute;
            left: 50%;
            top: 30%;
            font-size:20px;
            color: #0A014F;
            margin-right: 10%;
            text-align: left;
          }


      }

      @media (max-width: 700px) {

          

          .iphonecontainer1{
            top: -3%;
            left: 9%;
            transform: scale(.5);
          }

          header {
            position: absolute;
            font-size:100px;
            font-family: kepler-std-condensed-subhead, serif;
            font-weight: 400;
            color: #0A014F;
            top: 5%;
            left: 20%;
          }

          .description{
            width: 400px;
            font-family: aktiv-grotesk, sans-serif;
            font-weight: 300;
            font-style: normal;
            position:absolute;
            left: 10%;
            top: 75%;
            font-size:16px;
            color: #0A014F;
            margin-right: 10%;
            text-align: left;
          }


      }








